@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,900');

html,body {
    font-family: 'Titillium Web', sans-serif;;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
    background-color: #2D2D2D;
}
body {
    margin: 0;
    background-color: #444;
  	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	-o-user-select:none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

@media all{
	textarea:focus,
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="datetime"]:focus,
	input[type="datetime-local"]:focus,
	input[type="date"]:focus,
	input[type="month"]:focus,
	input[type="time"]:focus,
	input[type="week"]:focus,
	input[type="number"]:focus,
	input[type="email"]:focus,
	input[type="url"]:focus,
	input[type="search"]:focus,
	input[type="tel"]:focus,
	input[type="color"]:focus,
	.uneditable-input:focus {   
	border-color: rgba(126, 239, 104, 0.8);
	box-shadow: 0 0 1px rgba(34, 217, 0, 1);
	outline: 0 none;
}
}

.white-title > h1{
	text-transform: uppercase;
	padding-bottom: 2px;
	font-weight: 700;
	color: white;
}

hr{
	/*border-width: 1.3px;*/
	border: 0.5px solid #8d8d8d;
}

.about-text-col{
	height: 662px;
	position: relative;
	background-color: #31B404;
}

.about-text-right{
	padding-top: 22%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	color: whitesmoke;
}

.about-text-left{
	padding-top: 55%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

@media (min-width: 240px) and (max-width: 299px) {
	.about-text-left{
		padding-top: 95%;
	}
}

@media (min-width: 300px) and (max-width: 359px) {
	.about-text-left{
		padding-top: 80%;
	}
}

@media(min-width: 360px) and (max-width: 450px){
	.about-text-left{
		padding-top: 70%;
	}
}

@media (min-width: 634px) and (max-width: 767px) {
	.about-text-left{
		padding-top: 40%;
	}
}

@media (min-width: 768px) and (max-width: 1080px) {
	.about-text-left{
		padding-top: 70%;
	}
}

.about-title{
	margin-top: 15%;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 2px;
	font-weight: 700;
	color: black;
}

#expand-img{
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
  	-ms-transition: all .3s ease-out;
  	-o-transition: all .3s ease-out;
  	transition: all .3s ease-out;
}

#expand-img:hover{
	color: #424242; 
  	-webkit-transition: all .3s ease-in;
  	-moz-transition: all .3s ease-in;
  	-ms-transition: all .3s ease-in;
  	-o-transition: all .3s ease-in;
  	transition: all .3s ease-in;
  	opacity: 1;
  	transform: scale(1.9);
  	-ms-transform: scale(1.9); /* IE 9 */
  	-webkit-transform: scale(1.9); /* Safari and Chrome */
}

.btn-green-neon{
	margin-top: 40px;
	text-transform: uppercase;
	border: 1.5px solid #39FF14;
	font-weight: 600;
    white-space: normal;
    color: #39FF14;
}

.btn-green-neon:hover{
	cursor: pointer;
}

.btn-green-neon:hover{
	background-color: #22D900;
}

.img-me{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	z-index: 10;
}

.links > a{
	padding: 0 25px;
	font-size: 28px;
	color:gray;
	text-decoration: none;
}

.links > a:hover{
	color: #39FF14;
}

.links{
	margin-top: 60px;
	text-align: center;
}

.location{
	max-width: 70%;
}

.location:hover{
	cursor: pointer;
}

.logo{
	margin: 20px 10px;
	max-width: 100%;
    height: auto
}

.nav > a{
	padding: 0 20px;
	font-size: 16px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-weight: 600;
}

.nav > a:hover{
	color: #39FF14;
}

.no-padding{
	padding: 0 !important;
  	margin: 0 !important;
}

#particles-js {
      position: absolute;
      display: block;
      top:0;
      right:0;
      bottom:0;
      left:0;
      z-index:10; 
 }

.row-about{
	margin-top: 663px;
	height: 662px;
	background-color: whitesmoke;
}

.scroll-d{
	margin-top: 40px;
}

.skills-logos{
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.skills-text-col{
	width: 100%;
	position: absolute;
	background-color: #31B404;
	margin-top: 80px;
}

.skills-text{
	margin-top: 8%;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	color: whitesmoke;
}

.section{
	margin-top: 20%;
}

.section-contact{
	margin-top: 16%;
}

.section-skills{
	margin-top: 16%;
}

.section-welcome{
	margin-top: 20%;
}

.top-right {
	display: inline;
	position: absolute;
	right: 10px;
	top: 18px;
}

.white-title{
	text-align: center;
}

.white-title > p{
	color: #8d8d8d;
}